<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Estefet - Marin Induction Project</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="page-header">
        <h1>Event Manager <small>Marin's Induction Project</small></h1>
    </div>
</div>

<!-- Main Region -->
<div id="main-region" class="container">
     <p>Here is static content in the web page. You'll notice that it gets
     replaced by our app as soon as we start it.</p>
</div>

<!-- Templates -->
<!-- Headers Template -->
<script type="text/template" id="different-template">
    <td> <%= id %></td>
    <td> <%= hubID %></td>
    <td> <%= description %></td>
    <td> <%= eventDate %></td>
    <td> <%= type %></td>
    <% if (handled == false) { %>
    <td>
        <button class="btn btn-small js-discard">
        <i class="icon-remove"></i>Discard</button>
    </td>
    <% } %>
</script>


<!-- Single Template -->
<script type="text/template" id="events-list">
    <thead>
        <tr>
            <th>ID</th>
            <th>HUB ID</th>
            <th>Description</th>
            <th>Date</th>
            <th>Severity</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<!-- List Template -->
<script type="text/template" id="events-list-layout">
     <div id="panel-region"></div>
     <div id="events-region"></div>
</script>


<!-- Filtering template -->
<script type="text/template" id="events-list-panel">
    <select id="selectpicker">
        <option value="handled">Handled</option>
        <option value="unhandled">Non Handled</option>
        <option value="all">All</option>
    </select>
</script>


<!-- Libraries JavaScript includes -->
<script src="./assets/js/vendor/jquery.js"></script>
<script src="./assets/js/vendor/json2.js"></script>
<script src="./assets/js/vendor/underscore.js"></script>
<script src="./assets/js/vendor/backbone.js"></script>
<script src="./assets/js/vendor/backbone.marionette.js"></script>

<!-- JavaScript Includes -->
<script src="./assets/js/app.js"></script>
<script src="./assets/js/entities/event.js"></script>
<script src="./assets/js/apps/events/list/events_list.js"></script>
<script src="./assets/js/apps/events/list/events_controller.js"></script>

<!-- Entry point -->
<script type="text/javascript">
 EventsManager.start();
</script>


</body>